@import "_import.less";

//comments
.comments-wrapper {
  .md-list-item-text {
    color: #eee;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      .img-container {
        display: flex;
        float: left;
        .flex-direction(column);
        img {
          .align-self(center)
        }
        p {
          width: auto;
          margin: 5px auto;
          color: @brand-primary;
          font-size: 1rem;
          .align-self(center)
        }
      }
      .panel.panel-default {
        color: #eee;
        margin-left: 60px;
        position: relative;
      }
      .comment-remove {
        .border-radius(50px);
        min-height: 0;
        min-width: 0;
        width: 36px;
        position: absolute;
        right:5px;
        top:5px;
      }
      .panel-heading {
        color: @theme-green;
        border-top: 0px;
        background-color: @theme-background;
        .dist {
          &:hover{
            .transform(translate(5px, 5px) scale(1.1, 1.1));
          }
          color: @brand-warning;
          text-decoration: underline;
        }
      }
      .panel-footer {
        border-top: 0px;
        background-color: @theme-background;
        color: #eee;
        font-size: 25px;
        span:hover {
          color: @theme-red;
        }
        .liked {
          color: @theme-red;
        }
        //small {
        //  color: darkgray;
        //  line-height: 20px;
        //}

      }
    }
  }
}