@import "_import.less";

//comments
.comments-wrapper {
  padding: 15px;
  .md-list-item-text {
    color: #eee;
  }
  .panel {
    margin-bottom: 0px;
  }
  .panel-body.comments-container {
    .box-shadow-default;
    padding-top: 0px;
    //.default-transition;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      padding-top: 10px;
      border-bottom: 1px solid #666;
      .img-container {
        display: flex;
        float: left;
        margin-top: 10px;
        .flex-direction(column);
        img {
          .align-self(center)
        }
        p {
          width: auto;
          margin: 5px auto;
          color: @brand-primary;
          font-size: 1rem;
          .align-self(center)
        }
      }
      .panel.panel-default {
        color: #eee;
        margin-left: 60px;
        position: relative;
      }
      .comment-remove {
        position: absolute;
        right:5px;
        top:12px;
        span {
          .deleteBtn;
        }
      }
      .panel-heading {
        color: @theme-green;
        border-top: 0px;
        background-color: @theme-background;
        .panel-title {
          margin-right: 7px;
        }

      }
      .panel-body {
        .dist {
          .quick-transition;
          &:hover{
            font-size: 1.4rem;
            .quick-transition;
          }

          color: @brand-warning;
          text-decoration: underline;
        }
        .darkgrey {
          color: darkgray;
        }
      }
      .panel-footer {
        padding: 0px 15px 10px 15px;
        border-top: 0px;
        background-color: @theme-background;
        color: #eee;
        font-size: 20px;

        div.reply-icons {
          display: flex;
          font-size: 1.6rem;

          .align-items(center);
          .justify-content(space-between);

          span:not(.glyphicon){
            font-size: 1.3rem;
            color: darkgray;
          }

          div.reply-like-dislike{
            span.liked {
              color: @brand-primary;
            }
            span.hated {
              color: @theme-red;
            }
          }

          div.reply-right{
            .align-self(flex-end);
          }

          div.reply-icon {
            display: inline-block;
            &.count {
              color: darkgray;
              font-size: 1.3rem;
            }
            span {
              transition-duration: 0s;
            }
          }
        }

        div.reply-area {
          display: flex;
          margin-top: 10px;
          .flex-wrap(wrap);
          //.default-transition;
          .align-items(flex-start);

          label, input {
            font-size: 1.4rem;
          }
          .md-button {
            .align-self(flex-end);
            color: white;
            margin-bottom: 26px;
            width: 30px;
          }
          ul {
            .flex(1 0 100%);
            .reply-message {
              font-size: 1.4rem;
              color: #eee;
              margin-left: 2rem;
              p {
                padding-bottom: 10px;
              }
              span.glyphicon {
                margin-top: 10px;
              }
              span.liked {
                color: @brand-primary;
              }
              span.hated {
                color: @theme-red;
              }
              .time {
                margin-top: 10px;
                display: block;
                color: darkgray;
                font-size: 1.2rem;
              }
            }
            li {
              border-bottom: none;
            }
            .img-container {
              margin: 0px;
              max-width: 39px;
              word-wrap: break-word;
              overflow: hidden;
              p {
                width: 100%;
                text-align: center;
              }
            }
          }
          .reply-display {
            //this is just some dummy code
            //padding: 10px 0px;
            //margin-top: 10px;
            display: flex;
            max-width: 100%;
            .align-items(center);
            .justify-content(space-between);
            //.flex( 100%);

            .reply-left {
              display: flex;
              .flex(0 1 auto);
            }
            .reply-right.like-icon {
              .flex(0 1 auto);
              align-self: flex-start;
              margin-top: 2px;
              span:hover {
                color: @brand-primary;
              }
              .deleteBtn-wrapper {
                display: inline-block;
                & > span{
                  .deleteBtn;
                }
              }
            }
            p.reply-message {
              margin-left: 0px
              padding: 0px 20px 0px 20px;
              .flex(0 1 content);
            }
            .img-container{
              .flex(1 0 auto);
              img {
                .img-small;
              }
              p{
                font-size: 0.85rem;
              }
            }
          }
        }
        .liked {
          &:hover {
            color: lighten(@theme-red, 10%)
          }
          color: @theme-red;
        }
      }
    }
  }
}