<div class="comments-wrapper" ng-controller="comments">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul>
                <li ng-show="!comments.length"><div class="panel panel-default">
                    <div class="panel-body">
                        <h4>There is nothing here yet..<br> Say something to the world!</h4>
                    </div>
                </div></li>
                <li ng-repeat="comment in comments">
                    <img class="img-circle img-normal" ng-src="{{getPhoto(comment)}}" alt="avatar">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{comment.title}}
                            </h3>
                            <button class="comment-remove" ng-click="remove(comment)">Remove</button>
                        </div>
                        <div class="panel-body">
                            <p>{{comment.message}}</p>
                        </div>
                        <div class="panel-footer">
                            <small>{{getTime(comment)}}</small>
                            <small class="comment-footer-left">{{getDist(comment)}}</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


