<div class="panel panel-default">
    <div class="panel-body">
        <div class="compose-wrapper" ng-controller="composer">
            <form role="form">
                <div class="angular-google-map-container">
                    <ui-gmap-google-map center="map.center"
                                        events="map.events" zoom="map.zoom">
                        <ui-gmap-marker coords="map.center" options="map.marker.options"
                                        events="map.marker.events" idkey="idkey">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
                <div class="form-group">
                    <label for="compose-title">Title:</label>
                    <input type="text" ng-model="comment.title" class="form-control" id="compose-title">
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="compose-message">Message:</label>-->
                    <!--<input type="text" ng-model="message" class="form-control" id="compose-message">-->
                <!--</div>-->
                <div class="form-group">
                    <label for="compose-message">Message:</label>
                    <textarea  ng-model="comment.message" class="form-control" rows="5" id="compose-message"></textarea>
                </div>
                <!--<div class="checkbox">-->
                    <!--<label><input type="checkbox"> Remember me</label>-->
                <!--</div>-->
                <button ng-click="save()" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
