<div class="container">
    <div class="row dark" ng-controller="photoCtrl" >

        <div class="col-md-3 col-lg-2">
            <md-list ng-cloak>
                <md-list-item ng-repeat="navItem in nav" class="profile-nav">
                    <md-checkbox aria-label="label" class="hidden"></md-checkbox>
                    <a ng-href="{{navItem.url}}">{{navItem.name}} </a>
                </md-list-item>
            </md-list>
        </div>

        <div class="col-md-9 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Profile photo
                </div>
                <div class="panel-body photo-wrapper" md-theme="docs-dark">
                    <div class="photo-upload">
                        <div>
                            <img class="img-large" ng-src="{{photoUrl}}" alt="avatar">
                        </div>
                        <!--<div>-->
                            <!--<input type="file" fileread="fileread"/>-->
                            <!--<md-button class="md-raised md-primary" ng-click="upload()">Upload</md-button>-->
                        <!--</div>-->
                    </div>
                   <div class="photo-upload-area" ng-controller="photoUploadCtrl">
                       <div>
                           <label for="inputImage2">Image 2</label>

                           <input id="inputImage2"
                                  type="file"
                                  accept="image/*"
                                  image="image2"
                                  resize-max-height="300"
                                  resize-max-width="250"
                                  resize-quality="0.7" />

                           <!--<p>Original</p>-->
                           <!--<img ng-show="image2" ng-src="{{image2.url}}" type="{{image2.file.type}}"/>-->
                           <!--<p>Resized</p>-->
                           <img ng-show="image2" ng-src="{{image2.resized.dataURL}}"/>
                           <md-button class="md-raised md-primary" ng-click="upload(image2.resized)">Upload</md-button>
                           <!--<button type="submit" ng-click="single(image2.resized)" disabled>Add</button>-->
                       </div>

                       <div>
                           {{photoCount}} / {{maxPhotoCount}}
                       </div>

                       <div ng-repeat="photo in photos">
                           {{photo.c.public_id}}
                       </div>
                   </div>
                </div>
            </div>
        </div>

    </div>


</div>
