<div class="container">
    <div class="row dark" ng-controller="photoCtrl" >

        <div class="col-md-3 col-lg-2">
            <md-list ng-cloak>
                <md-list-item ng-repeat="navItem in nav" class="profile-nav">
                    <md-checkbox aria-label="label" class="hidden"></md-checkbox>
                    <a ng-href="{{navItem.url}}">{{navItem.name}} </a>
                </md-list-item>
            </md-list>
        </div>

        <div class="col-md-9 col-lg-10">
            <div class="panel panel-default" ng-controller="photoUploadCtrl">
                <div class="panel-heading">
                    Profile photo
                </div>
                <div class="panel-body photo-wrapper" md-theme="docs-dark">
                    <div class="left-panel">
                        <div class="current-photo">
                            <img class="img-huge img-circle" ng-src="{{photoUrl}}" alt="avatar">
                        </div>
                        <div class="photo-upload-area">
                            <input id="inputImage2"
                                   type="file"
                                   accept="image/*"
                                   image="image2"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" />

                            <img ng-show="image2" ng-src="{{image2.resized.dataURL}}"/>
                            <md-button class="md-raised md-primary dark" ng-click="upload(image2.resized)">Upload</md-button>
                        </div>
                    </div>
                    <div class="right-panel">
                        <label>
                            {{photoCount}} / {{maxPhotoCount}}
                            <span>Double click to choose a photo</span>
                        </label>
                        <div ng-repeat="photo in photos">
                            <img data-id="{{photo.c.public_id}}" ng-src="{{photo.c.url}}" class="img img-large"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
